/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap'); */

body {
    font-family: 'Inter', sans-serif;
    font-size: 14.4px;
}

a {
    text-decoration: none;
}

#nav {
    float: right;
}

#nav a {
    margin-right: 32px;
}

.button {
    height: 40px;
    width: 141px;
    border-radius: 3px;    
    padding: 11px 24px;
    font-weight: 700;
}

.button:hover {
    opacity: 0.9;
}

.primary {
    background-color: #2885F6;
}

.secondary {
    background-color: #767D84;
}