.highlight {
    background-color: white;
    width: 370px;
    height: 240px;
    border-radius: 4px;
    padding: 32px;
    margin-top: 130px;
    padding-top: 112px;
}

.highlight-image {
    position: absolute;
    top: 466px;
    margin-left: 175px;
    width: 188px;
    /* height: 222px; */
}

.extra-padding-left {
    padding-left: 20px;
}

.highlight-title {
    font-size: 18px;
    font-weight: 700;
}

.highlight-description {
    font-size: 14.4px;
}

.highlight-learn-more {
    font-size: 14.4px;
    color: #F65928;
    font-weight: 700;
    margin-top: 8px;
}

.dummy-square {
    background-color: red;
    width: 100px;
    margin-left: 500px;
    height: 128px;
}