.index-body {
    background-color: black;
    height: 100vh;
}
.index-middle {
    max-width: 1170px; 
    margin: auto;
}
.highlight-section {
    display: flex;
    justify-content: space-between;
}

.hero-copy {
    color: white;
    max-width: 470px;
}

.subheadline{
    text-transform: uppercase;
    font-weight: 700;
}

.index-body .button {
    margin-right: 21px;
}