.index-body {
    background-color: black;
    height: 100vh;
    padding-bottom: 1rem;
}
.index-middle {
    max-width: 1170px; 
    margin: auto;
}
.highlight-section {
    display: flex;
    justify-content: space-between;
}

.hero-copy {
    color: white;
    max-width: 470px;
    padding-top: 3%;
}

.headline {
    font-size: 56px;
}

.subheadline{
    text-transform: uppercase;
    font-weight: 700;
}

.short-description {
    margin-bottom: 28px;
}

.index-body .button {
    margin-right: 21px;
}