.index-body {
    max-width: 1170px; 
    margin: auto;
}
.highlight-section {
    display: flex;
    justify-content: space-between;
}

.hero-copy {
    color: white;
    max-width: 470px;
}

.index-body .button {

}