html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em 'Inter', sans-serif;
  box-sizing: border-box;
  overflow-y: hidden;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-size: 14.4px;
}

a {
  color: white;
  text-decoration: none;
}

a:active,
a:hover {
  opacity: 0.9
}

h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 25px;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}

* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}

p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 14px;
}

/* nav */

#logo {
  width: 123.76px;
}

#nav {
    float: right;
}

#nav a {
    margin-right: 32px;
}

/* button */

.button {
  height: 40px;
  width: 141px;
  border-radius: 3px;    
  padding: 11px 24px;
  font-weight: 700;
}

.button:hover {
  opacity: 0.9;
}

.bracket-on {
    margin-left: 3px;
    padding-bottom: 1px;
}

.bracket-off {
    display: none;
}

.primary {
    background-color: #2885F6;
}

.secondary {
    background-color: #767D84;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 70%;
  }
}
